In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supershop.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
df.Area=le.fit_transform(df.Area)

In [10]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [11]:
df.shape

(49, 5)

In [12]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler(feature_range=(5, 10))
df['Marketing Spend'] = minmax.fit_transform(df[['Marketing Spend']])
df['Administration'] = minmax.fit_transform(df[['Administration']])
df['Transport'] = minmax.fit_transform(df[['Transport']])

In [13]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0         8.463083        8.258720  10.000000     1  192261.83
1         9.916797        8.809859   9.704467     0  191792.06
2         9.639923        6.897895   9.323318     2  191050.39
3         9.365682        7.564992   9.061176     1  182901.99
4         9.297189        6.526640   8.880678     2  166187.94

In [14]:
x1=df['Marketing Spend']
y1=df['Profit']

In [15]:
x1.head()

0    8.463083
1    9.916797
2    9.639923
3    9.365682
4    9.297189
Name: Marketing Spend, dtype: float64

In [16]:
def gradd(x,y):
    m = 0
    c = 0
    l = 0.0001

    n = int(len(x))
    iteration = 30

#loop
    for i in range(iteration):
        predy = (m*x) + c
        der_m = (-2/n) * sum(x*(y-predy))
        der_c = (-2/n) * sum(y-predy)
    
        m = (m - ( l * der_m))
        c = (c - (l * der_c))
        print(m,c)

In [17]:
gradd(x1,y1)

171.93888125430217 22.358592244897963
341.98603054752175 44.46438371051255
510.1622712056077 66.3201571605467
676.4881973407289 87.92866472729533
840.984176374356 109.29262824882196
1003.6703515325707 130.4147396024241
1164.566644313907 151.29766103442773
1323.6927569300287 171.94402548635168
1481.0681747195397 192.3564369174818
1636.712168535225 212.53747062389422
1790.643797105014 232.48967355396712
1942.8819093669558 252.21556462041934
2093.44514677849 271.71763500891427
2242.3519456003014 290.99834848326685
2389.6205391550325 310.0601416872908
2535.2689600611334 328.9054244433235
2679.315042442124 347.53658004746455
2821.776424111537 365.95596556156465
2962.6705487338077 384.16591210200056
3102.0146679613817 402.16872512527095
3239.825843548296 419.96668471044893
3376.120949440493 437.5620458385252
3510.916673843131 454.95703866867643
3644.2295212651316 472.1538688114926
3776.0758145412265 489.1547175991969
3906.4716968317452 505.96174235289084
4035.433133600389 522.577076646858
4162.975914570236 539.0028305699582
4289.115655658214 555.2410909841444
4413.867800888281 571.2939217801343

In [18]:
x2=df['Administration']
y2=df['Profit']

In [19]:
gradd(x2,y2)

172.52908654832754 22.358592244897963
342.9708296888128 44.44902840792342
511.35047955808363 66.2745523059522
677.6929808474017 87.83836851611863
842.0229764975678 109.1436428504901
1004.3648113491306 130.19350282499954
1164.7425357484406 150.99103812270548
1323.1799091100816 171.53930105144786
1479.7004034362087 191.841306995968
1634.3272067933133 211.9000348645592
1787.0832267469304 231.71842753031422
1937.9910937547975 251.29939226703536
2087.0731645189667 270.64580117987117
2234.3515252973666 289.760491630744
2379.8479951753075 308.64626665863125
2523.5841292974073 327.3058953947622
2665.5812220604266 345.74211347279305
2805.8603102674765 363.9576234340193
2944.442176244074 381.9550951276872
3081.3473509164996 399.7371661064618
3216.5961168529225 417.30644201711226
3350.2085112677296 434.66549698646975
3482.2043289895196 451.8168740027178
3612.6031253931897 468.7630852920694
3741.424219296555 485.5066126908879
3868.6866958219257 502.0499080133064
3994.409409223074 518.3953934143999
4118.610985677997 534.5454617489647
4241.3098260479 550.5024769259574
4362.524108602806 566.2687742586459

In [20]:
x3=df['Transport']
y3=df['Profit']

In [21]:
gradd(x3,y3)

170.73020447248098 22.358592244897963
339.5633163028109 44.464057874816326
506.52042212703805 66.31921047887877
671.6223741981956 87.9268323724912
834.8897929915252 109.28967494495659
996.3430697807423 130.41045900322604
1156.0023691856668 151.29187511182892
1313.8876316915348 171.93658392902466
1470.0185761403084 192.3472165392182
1624.4147021942936 212.52637478168032
1777.0952927723754 232.47663157561433
1928.0794164591723 252.2005312416097
2077.385929887413 271.70058981952235
2225.0334800938335 290.97929538282193
2371.040506848885 310.03910834944475
2515.425244960549 328.8824617891918
2658.205726552547 347.51176172770965
2799.3997833172193 365.92938744709306
2939.0250487433727 384.1376917831455
3077.098960319358 402.1390014193364
3213.6387617116625 419.9356171774905
3348.661504919286 437.529814305246
3482.184052404172 454.9238427603183
3614.223079197956 472.11992749160294
3744.7950749853003 489.12026871715506
3873.9163461640683 505.92704219907847
4001.6030178826018 522.5423995153594
4127.871036054353 538.9684683286788
4252.7361693501225 555.2073526522368
4376.2140111681565 571.2611331126219

In [22]:
x4=df['Area']
y4=df['Profit']

In [23]:
gradd(x4,y4)

22.905516367346934 22.358592244897963
45.79917292352185 44.70822515997702
68.68097529641345 67.04890286065798
91.55092911126641 89.38062946043593
114.40903999068273 111.70340907088122
137.25531355462292 134.01724580164029
160.0897554204072 156.3221437604366
182.91237120271686 178.61810705307153
205.72316651359534 200.90513978342528
228.52214696244965 223.18324605345776
251.30931815605143 245.45242996320954
274.0846856985383 267.71269561080265
296.84825519141503 289.9640470924416
319.6000322335548 312.2064885024142
342.34002242120056 334.44002393309245
365.06823134796593 356.6646574749335
387.7846646048368 378.88039321648057
410.4893277801724 401.0872352443637
433.1822264597065 423.28518764330073
455.86336622654875 445.47425449609835
478.5327526611857 467.6544398836527
501.19039134148244 489.8257478849505
523.8362878426833 511.98818257706984
546.4704477374135 534.1417480351812
569.0928765956801 556.286448332548
591.7035799848735 578.4222875405281
614.3025634697684 600.549269728574
636.8898326125253 622.6673989642343
659.4653929726915 644.7766793131541
682.0292501072023 666.8771148390764

In [24]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0         8.463083        8.258720  10.000000     1  192261.83
1         9.916797        8.809859   9.704467     0  191792.06
2         9.639923        6.897895   9.323318     2  191050.39
3         9.365682        7.564992   9.061176     1  182901.99
4         9.297189        6.526640   8.880678     2  166187.94

In [25]:
x1=8.463083
x2=8.258720 
x3=10.000000 
x4=1
m1=171.93888125430217
m2=172.52908654832754
m3=170.73020447248098
m4=22.905516367346934
c=22.358592244897963
y=m1*x1 + m2*x2 + m3*x3 + c
y

4609.663077610416

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()

In [29]:
x=df.drop(['Profit'],axis=1)
y=df['Profit']

In [30]:
lr.fit(x,y)

LinearRegression()

In [31]:
lr.predict([[8.463083,8.258720,10.000000,1]])

C:\Users\Itu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([160343.7567169])

In [32]:
lr.intercept_

-109271.77589428592

In [33]:
lr.coef_

array([22256.34394414,   806.35391642,  7516.97198415,  -570.92452269])

In [35]:
Y_pred = lr.predict(x)

In [37]:
from sklearn.metrics import r2_score
Score = r2_score(y, Y_pred)

In [38]:
Score

0.9044981687538612

In [39]:
lr.score(x , y)

0.9044981687538612